body {
  font-size: 15px;
  width: 1440px;
}
.card {
  color: hsl(0, 0%, 100%);
  background-color: hsl(244, 38%, 16%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
